#first-row {
  height: 200px;
}
#second-row {
  height: 500px;
}

#user_list {
  height: 100%;
  overflow-y: auto;
}

#product_list {
  height: 100%;
  overflow-y: auto;
}

#money_transfer {
  height: 50%;
}

#product_transfer {
  height: 50%;
}
